<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen" type="text/css">
      .left-color {
        text-align: left;
      }
      .right-color {
        text-align: right;
      }
      .inline {
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <h1>Choose your own Adventure</h1>
    <p>You awake in a room with two doors. Where do you go?</p>
    <a href="/left">left</a>
    <a href="/right">right </a>
  </body>
</html>
